include INSTALL.txt
include LICENSE.txt
include README.txt
include contributors.txt
graft   docs
graft   examples
graft   test

recursive-exclude docs/build *
recursive-exclude docs/figures *
recursive-exclude docs/ *.log

global-exclude *.py[co]
global-exclude *DS_Store
